$secondary: #243238 !default;
$primary: #3d9bef !default;
$paper: #f5f5f5 !default;
$white: #fff !default;
$black: #000 !default;
$accent: #ffa800 !default;
$hint: #d3d3d3 !default;
$black: #000 !default;
$accent: #ffa800 !default;
$hint: #d3d3d3 !default;

$main_font: "Montserrat", sans-serif !default;

$breakpoint-xs: 479px !default;
$breakpoint-s: 599px !default;
$breakpoint-m: 767px !default;
$breakpoint-l: 1023px !default;
$breakpoint-xl: 1220px !default;
$breakpoint-xxl: 1600px !default;
