<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__inner">
          <h1 class="logo"><span class="logo_contrast">Yo</span>BIKE</h1>
          <div class="panel">
            <span class="drop__menu"></span>
            <form class="search">
              <input type="text" placeholder="Search" class="search__input" />
              <button type="submit" class="search__button"></button>
              <span class="search__close"></span>
            </form>
            <span class="header__button-second"></span>
            <div class="minicart minicart-mobile">
              <button class="minicart__icon minicart-mobile__icon"></button>
              <span class="minicart__count minicart-mobile__count">0</span>
            </div>
            <div class="profile">
              <button class="profile__button"></button>
            </div>
          </div>
        </div>
        <nav>
          <ul class="header__nav">
            <li class="frames__wrap">
              <a href="#" class="header__link frames">BIKES&FRAMES</a>
              <span class="drop_button" data-drop="drop_frames"></span>
              <div class="mini-catalog drop_frames">
                <div class="mini-catalog__category">
                  <img
                    class="mini-catalog__img"
                    src="../assets/images/mini_catalog/fyxation_eastside_crimson_roja_bicicleta_urbana_1.jpg"
                    alt=""
                  />
                  <a href="#"><span class="mini-catalog__title">ROAD BIKES</span></a>
                  <ul class="mini-catalog__links">
                    <li><a class="header__link mini-catalog__link" href="#">Performance</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#">Adventure / Gravel</a>
                    </li>
                    <li><a class="header__link mini-catalog__link" href="#">Touring</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#">Triathlon / Time Trial</a>
                    </li>
                    <li><a class="header__link mini-catalog__link" href="#">Track</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Frames</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#"
                        >Build Your Own Road Bike</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="mini-catalog__category">
                  <img
                    class="mini-catalog__img"
                    src="../assets/images/mini_catalog/prodeco_v5_phantom_x2_8_speed_folding_electric_bicycle_1.jpg"
                    alt=""
                  />
                  <a href="#"><span class="mini-catalog__title">MOUNTAIN BIKES</span></a>
                  <ul class="mini-catalog__links">
                    <li><a class="header__link mini-catalog__link" href="#">Full suspension</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Hardtail</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#"
                        >Downhill / Freeride / Dirt Jump</a
                      >
                    </li>
                    <li><a class="header__link mini-catalog__link" href="#">Fat Bikes</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Frames</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Frames</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#"
                        >Build Your Own Mountain Bike</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="mini-catalog__category">
                  <img
                    class="mini-catalog__img"
                    src="../assets/images/mini_catalog/fyxation-_eastside_negra_bicicleta_urbana_2.jpg"
                    alt=""
                  />
                  <a href="#"><span class="mini-catalog__title">CYCLOCROSS BIKES</span></a>
                  <ul class="mini-catalog__links">
                    <li><a class="header__link mini-catalog__link" href="#">Urban / Fitness</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Urban / Hybrid</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Flat Bar</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#"
                        >Single Speed / Fixed Gear</a
                      >
                    </li>
                    <li><a class="header__link mini-catalog__link" href="#">Cargo</a></li>
                    <li><a class="header__link mini-catalog__link" href="#">Folding</a></li>
                  </ul>
                </div>
                <div class="mini-catalog__category">
                  <img
                    class="mini-catalog__img"
                    src="../assets/images/mini_catalog/vintage_ladies_bella_1.jpg"
                    alt=""
                  />
                  <a href="#"><span class="mini-catalog__title">COMFORT BIKES</span></a>
                  <ul class="mini-catalog__links">
                    <li><a class="header__link mini-catalog__link" href="#">Urban / Hybrid</a></li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#">Cruiser / Classic</a>
                    </li>
                    <li>
                      <a class="header__link mini-catalog__link" href="#"
                        >Comfort / Upright Position</a
                      >
                    </li>
                    <li><a class="header__link mini-catalog__link" href="#">Three-wheelers</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="parts__wrap">
              <a href="#" class="header__link parts">BIKE PARTS</a>
              <span class="drop_button" data-drop="drop_parts"></span>
              <ul class="types__links parts__links drop_parts">
                <li class="mountain">
                  <a class="header__link parts__link mountaina" href="#">Mountain bikes</a>
                  <ul class="types__links mountain__links">
                    <li>
                      <a class="header__link mountain__link" href="#"
                        >Cross Country mountain bikes</a
                      >
                    </li>
                    <li>
                      <a class="header__link mountain__link" href="#">Trail mountain bikes</a>
                    </li>
                    <li>
                      <a class="header__link mountain__link" href="#">Downhill mountain bikes</a>
                    </li>
                    <li>
                      <a class="header__link mountain__link" href="#">Electric mountain bikes</a>
                    </li>
                    <li><a class="header__link mountain__link" href="#">Fat Bikes</a></li>
                  </ul>
                </li>
                <li class="road">
                  <a class="header__link parts__link" href="#">Road bikes</a>
                  <ul class="types__links road__links">
                    <li><a class="header__link road__link" href="#">Road bikes</a></li>
                    <li><a class="header__link road__link" href="#">Cyclocross bikes</a></li>
                    <li><a class="header__link road__link" href="#">Gravel bikes</a></li>
                    <li><a class="header__link road__link" href="#">Triathlon bikes</a></li>
                    <li><a class="header__link road__link" href="#">Frames</a></li>
                  </ul>
                </li>
                <li class="urban">
                  <a class="header__link parts__link" href="#">Urban & commuter bikes</a>
                  <ul class="types__links urban__links">
                    <li><a class="header__link urban__link" href="#">Hybrid bikes</a></li>
                    <li><a class="header__link urban__link" href="#">Fitness bikes</a></li>
                    <li><a class="header__link urban__link" href="#">Gravel bikes</a></li>
                    <li><a class="header__link urban__link" href="#">Electric bikes</a></li>
                    <li><a class="header__link urban__link" href="#">Cargo</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="tools__wrap"><a href="#" class="header__link tools">BIKE TOOLS</a></li>
            <li class="types__wrap">
              <a href="#" class="header__link types">PRODUCT TYPES</a>
              <span class="drop_button" data-drop="drop_types"></span>
              <ul class="types__links drop_types">
                <li>
                  <a class="header__link parts__link types__link" href="#">Configurable products</a>
                </li>
                <li>
                  <a class="header__link parts__link types__link" href="#">Simple products</a>
                </li>
                <li>
                  <a class="header__link parts__link types__link" href="#">Products with options</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main"></main>
    <footer class="footer"></footer>
  </body>
</html>
