<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <div class="header__inner">
          <h1 class="logo"><span class="logo_contrast">Yo</span>BIKE</h1>
          <div class="panel">
            <span class="drop__menu"></span>
            <form class="search">
              <input type="text" placeholder="Search" class="search__input" />
              <button type="submit" class="search__button"></button>
              <span class="search__close"></span>
            </form>
            <span class="header__button-second"></span>
            <div class="minicart minicart-mobile">
              <button class="minicart__icon minicart-mobile__icon"></button>
              <span class="minicart__count minicart-mobile__count">0</span>
            </div>
            <div class="profile">
              <button class="profile__button"></button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main"></main>
    <footer class="footer"></footer>
  </body>
</html>
